<footer class="content-container border-top mt-4">
  <div
    class="d-flex align-items-center justify-content-center justify-content-lg-end gap-3 mt-4"
  >
    <a
      href="{{site.youtube}}"
      target="_blank"
      rel="noopener noreferrer"
      class="flex"
      ><i class="fa-brands fa-youtube"></i
    ></a>
    <a
      href="{{site.twitter}}"
      target="_blank"
      rel="noopener noreferrer"
      class="flex"
    >
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a
      href="{{site.instagram}}"
      target="_blank"
      rel="noopener noreferrer"
      class="flex"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
  <p class="text-center mt-4 mb-4">&copy; 2024 {{site.title}}</p>
</footer>
