body {
  background-color: rgb(255, 255, 255);
  color: rgb(40, 40, 40);
  overflow-x: hidden;
}
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.content-container,
.video-container {
  width: 90vw;
  margin: 0 auto;
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .content-container,
  .video-container {
    width: 86vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .content-container,
  .video-container {
    width: 85vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 576px) {
  .content-container {
    width: 93vw;
  }
  .video-container {
    margin: 0;
    width: 100vw;
  }
}
